Repository sawpanic/cryptorun, changes with the owners that CODEOWNERS names for each.
All owners: @anthropic/cryptorun-core, @anthropic/premove-team, @anthropic/scoring-team, @anthropic/gates-team, @anthropic/regime-team, @anthropic/math-team, @anthropic/application-team, @anthropic/data-team, @anthropic/infra-team, @anthropic/reliability-team, @anthropic/interface-team, @anthropic/cli-team, @anthropic/explain-team, @anthropic/config-team, @anthropic/deploy-team, @anthropic/tooling-team, @anthropic/qa-team, @anthropic/performance-team, @anthropic/arch-team, @anthropic/docs-team, @anthropic/release-team, @anthropic/ai-team, @anthropic/security-team, @anthropic/admin-team, @anthropic/build-team, @anthropic/ci-team, @anthropic/risk-team

CODEOWNERS:

# CryptoRun Code Ownership
# This file defines ownership for different parts of the repository
# For more details, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - repository maintainers
* @anthropic/cryptorun-core

# Domain layers - business logic ownership
/src/domain/premove/ @anthropic/premove-team
/src/domain/scoring/ @anthropic/scoring-team
/src/domain/gates/ @anthropic/gates-team
/src/domain/regime/ @anthropic/regime-team
/src/domain/orthogonalization/ @anthropic/math-team

# Application layer - use cases and pipelines
/src/application/ @anthropic/application-team

# Infrastructure layer - external integrations
/src/infrastructure/kraken/ @anthropic/data-team
/src/infrastructure/cache/ @anthropic/infra-team
/src/infrastructure/circuits/ @anthropic/reliability-team

# Interfaces - HTTP and CLI
/src/interfaces/ @anthropic/interface-team
/src/cmd/ @anthropic/cli-team

# Internal core modules
/internal/score/ @anthropic/scoring-team
/internal/gates/ @anthropic/gates-team
/internal/data/ @anthropic/data-team
/internal/explain/ @anthropic/explain-team

# Configuration and deployment
/config/ @anthropic/config-team
/deployments/ @anthropic/deploy-team
/.githooks/ @anthropic/tooling-team
/tools/ @anthropic/tooling-team

# Testing ownership by type
/tests/unit/ @anthropic/qa-team
/tests/integration/ @anthropic/qa-team
/tests/load/ @anthropic/performance-team
/tests/conformance/ @anthropic/arch-team
/tests/branding/ @anthropic/qa-team

# Documentation
/docs/ @anthropic/docs-team
README.md @anthropic/docs-team
CHANGELOG.md @anthropic/release-team
CLAUDE.md @anthropic/ai-team

# Security and governance
.crun_write_lock @anthropic/security-team
CODEOWNERS @anthropic/admin-team
/scripts/security/ @anthropic/security-team

# Build and CI/CD
go.mod @anthropic/build-team
go.sum @anthropic/build-team
/.github/workflows/ @anthropic/ci-team
/scripts/build/ @anthropic/build-team

# Specific high-impact files requiring multiple approvals
/internal/score/composite/ @anthropic/scoring-team @anthropic/arch-team
/src/domain/premove/portfolio.go @anthropic/premove-team @anthropic/risk-team

chore(claude): doctor script to fix agent front-matter & settings; docs
  .claude/settings.json
  docs/CLAUDE_ENV.md
  tools/claude_doctor.ps1
Owners: @anthropic/cryptorun-core, @anthropic/docs-team, @anthropic/tooling-team

feat(artifacts): minimal PIT artifact writer (JSON/CSV) + ledger docs
  .claude/prompt_packs/DOMAIN_TEMPLATE.md
  .claude/prompt_packs/UI_TEMPLATE.md
  .githooks/prepare-commit-msg.ps1
  .progress
  CHANGELOG.md
  artifacts/ledger/.gitkeep
  docs/ARTIFACTS.md
  docs/CONTRIBUTING.md
  docs/PATCH_POLICY.md
  src/domain/premove/go.mod
  src/domain/premove/portfolio_test.go
  src/internal/artifacts/writer.go
  src/internal/artifacts/writer_test.go
  tests/unit/premove/alerts_test.go
  tests/unit/premove/cvd_resid_test.go
  tests/unit/premove/execution_test.go
  tests/unit/premove/percentiles_test.go
  tests/unit/premove/portfolio_test.go
  tools/patch_only.ps1
Owners: @anthropic/cryptorun-core, @anthropic/tooling-team, @anthropic/release-team, @anthropic/docs-team, @anthropic/build-team, @anthropic/premove-team, @anthropic/qa-team

test(premove): add failing tests & fixtures to drive implementations; document strategy
  CHANGELOG.md
  docs/TEST_STRATEGY.md
  internal/testdata/premove/bars.csv
  internal/testdata/premove/pit_sample.jsonl
  internal/testdata/premove/trades.csv
  tests/integration/premove/backtest_pit_test.go
Owners: @anthropic/release-team, @anthropic/docs-team, @anthropic/cryptorun-core, @anthropic/qa-team

chore(scaffold): create empty premove rooms tied to tests; mark milestones in progress
  CHANGELOG.md
  PROGRESS.yaml
  docs/PREMOVE_TODO.md
  src/application/premove/alerts.go
  src/application/premove/backtest.go
  src/application/premove/execution.go
  src/application/premove/portfolio.go
Owners: @anthropic/release-team, @anthropic/cryptorun-core, @anthropic/docs-team, @anthropic/application-team

fix(score): alias RawFactors/CompositeScorer
  docs/SCORING.md
  internal/score/composite/inputs.go
  internal/score/composite/unified.go
Owners: @anthropic/docs-team, @anthropic/scoring-team, @anthropic/arch-team

fix(minor): resolve unused var, slice literal, and guard cache accessor
  docs/PROVIDERS.md
  internal/backtest/march_aug/engine.go
  internal/exits/logic.go
  internal/providers/adapters/binance.go
  internal/providers/adapters/coinbase.go
  internal/providers/adapters/coingecko.go
  internal/providers/adapters/okx.go
  internal/providers/guards/guard.go
Owners: @anthropic/docs-team, @anthropic/cryptorun-core

feat(providers): RL + CB + caches + fallbacks
  cmd/cryptorun/menu_main.go
  docs/PROVIDERS.md
  internal/providers/runtime/cache_config.go
  internal/providers/runtime/circuit_breakers.go
  internal/providers/runtime/fallback_chains.go
  internal/providers/runtime/rate_limits.go
  internal/providers/runtime/runtime_test.go
Owners: @anthropic/cryptorun-core, @anthropic/docs-team

feat(policy): USD-only + venue preference + depeg guard
  docs/POLICY.md
  internal/policy/integration.go
  internal/policy/integration_test.go
  internal/policy/validators.go
  internal/policy/validators_test.go
Owners: @anthropic/docs-team, @anthropic/cryptorun-core
